<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>433957386519-uqdc4e3f34ksgjoh93qnc5858s2nm9v4.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.433957386519-uqdc4e3f34ksgjoh93qnc5858s2nm9v4</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>433957386519-2335e6ntgukcfa7ifr0to29ec0hokp94.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyA3cEIofFTT_tUjinbEcK9EnbW0oLn5yfs</string>
    <key>GCM_SENDER_ID</key>
    <string>433957386519</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.hungerswipe.app</string>
    <key>PROJECT_ID</key>
    <string>hungerswipe</string>
    <key>STORAGE_BUCKET</key>
    <string>hungerswipe.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:433957386519:ios:3390f4138270a07e4b5f52</string>
</dict>
</plist>
